@import "../../global-styles/Color.scss";

.homepage-login,
.wallpaper-icon {
  position: relative;
  overflow: hidden;
}
.wallpaper-icon {
  height: 100vh;
  flex: 1;
  max-width: 100%;
  object-fit: cover;
  min-width: 468px;
}
.homepage-login {
  width: 100%;
  background-color: $main-white;
  border: 0px solid $main-bg;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 675px) {
  .wallpaper-icon {
    min-width: 100%;
  }
}
.auth-container {
  overflow-y: scroll;
  max-height: 100vh;

  /* Cho trình duyệt Chrome và Safari */
  &::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của scrollbar */
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Màu nền của track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-soft; /* Màu của thumb */
    border-radius:32px; /* Bo tròn thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $blue-soft-hover; /* Màu thumb khi hover */
  }

}