@import './../../../global-styles/Color.scss';

.postDetailContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    width: 100%;
    max-width: 1920px;

    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    // @media (max-width: 959px) {
    //     // flex-direction: column;
    //     max-height: 100vh;

    // }
    .imageDisplay {
        background-color: $gray-bg;
        flex: 1;
        // min-height: 92.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        width: auto;
        // flex-basis: 50%;
        max-width: 860px;
        @media (max-width: 959px) {
            flex: 0.5;
            max-width: 540px;
            
        }
    }

    .postContent {
        flex: 0.5;
        // background-color: $text-gray-soft-new;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        color: $text-white-new;

        // flex-shrink: 0;

        .postNComment {
            overflow-y: auto;
            overscroll-behavior: contain;

            .comments {
                padding: 4px 16px;
                
                .commentCard {
                    margin-top: 4px; // Adjust the bottom margin as needed
                    transition: 0.5s ease-out;
                    
                    .replyCommentCard{
                        margin-left: 48px;
                    }
                }
                .seemore{
                    display: flex;
                    align-items: center;
                    margin-left: 48px;
                    gap: 4px;
                    cursor: pointer;
                    pointer-events: auto;
                    img{
                        width: 16px;
                        height: 16px;
                        // fill: $text-gray-soft-new;
                    }
                    .seeMoreText{
                        font-size: 14px;
                        font-weight: 600;
                        color: $text-gray-soft-new;
                    }
                }
                .commentCard:last-child {
                    margin-bottom: 0; // Remove margin from the last item
                }
            }
        }

        .commentEditable {
            display: flex;
            align-items: flex-end; // Đặt textarea ở dưới cùng của container
            width: 100%;
            position: relative;
            z-index: 10;

            @media (max-width: 959px) {
                flex-shrink: 0;
            }
        }
    }
}

.postDetailContainerFull {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    // align-items: center;
    width: 100%;
    max-width: 960px;
    // padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    // @media (max-width: 959px) {
    //     flex-direction: column;
    // }

    .postContent {
        // background-color: $text-gray-soft-new;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        display: flex;
        color: $text-white-new;
        width: 100%;

        // margin-left: auto;
        // margin-right: auto;
        .post {
            align-items: center;
            display: flex;
            width: 100%;

        }

        .postNComment {
            overflow-y: auto;
            overscroll-behavior: contain;

            .comments {
                padding: 4px 16px;

                .commentCard {
                    margin-top: 4px; // Adjust the bottom margin as needed
                    transition: 0.5s ease-out;
                    .replyCommentCard{
                        margin-left: 48px;
                    }
                }
                .seemore{
                    display: flex;
                    align-items: center;
                    margin-left: 48px;
                    gap: 4px;
                    cursor: pointer;
                    pointer-events: auto;
                    img{
                        width: 16px;
                        height: 16px;
                        // fill: $text-gray-soft-new;
                    }
                    .seeMoreText{
                        font-size: 14px;
                        font-weight: 600;
                        color: $text-gray-soft-new;
                    }
                }
                .commentCard:last-child {
                    margin-bottom: 0; // Remove margin from the last item
                }
            }
        }

        .commentEditable {
            display: flex;
            align-items: flex-end; // Đặt textarea ở dưới cùng của container
            width: 100%;
            z-index: 10;
        }
    }
}
@media (max-width: 768px) {
    .postDetailContainer {
        // flex-direction: column;
        
        .imageDisplay {
            height: 100%;
            max-width: 50vw;
            width: auto;
        }

        .postContent {
            height: 100%;
            width: 50vw;

            .postNComment {
                .post {
                    padding: 5px;
                }

                .comments {
                    padding: 5px;

                    .commentCard {
                        margin-bottom: 5px;

                        &.replyCommentCard {
                            margin-left: 10px;
                        }

                        .seemore {
                            img {
                                width: 16px;
                                height: 16px;
                            }

                            .seeMoreText {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .inputComment {
                padding: 5px;
            }
        }
    }
}

@media (max-width: 480px) {
    .postDetailContainer {
        .postContent {
            .postNComment {
                .post {
                    padding: 2px;
                }

                .comments {
                    padding: 2px;

                    .commentCard {
                        margin-bottom: 2px;

                        &.replyCommentCard {
                            margin-left: 5px;
                        }

                        .seemore {
                            img {
                                width: 14px;
                                height: 14px;
                            }

                            .seeMoreText {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            .inputComment {
                padding: 2px;
            }
        }
    }
}