$main-bg: #1f1f1f;
$main-bg-trans: #1f1f1f50;
$soft-bg: #242526;
$gray-bg: #3a3b3c;
$orange-yellow: #ffc122;
$text-white: #ffffff;
$text-white-new: #e7e9ea;
$text-gray-soft-new: #71767b;
$text-gray-trans: #474a4d;
$text-gray-soft: #a3a3a3;
$text-gray-contrast: #b0b3b8;
$like-pink: #f5177e;
$blue-main: #1b6fa8;
$blue-main-active: #1b6fa860;
$blue-soft: #4296cf;
$text-black: #212121;
$blue-soft-hover: #49aaea;
$red-manhua-text: #ff7575;
$blue-manhwa-text: #2b59a1;
$main-white: #fafcfc;
$main-white-hover: #fafcfc50;
$main-bg-hover: rgba(239, 243, 244, 0.1);
$main-bg-hold: rgba(239, 243, 244, 0.2);
$red: #e40066;
