$main-bg:#1F1F1F;
$soft-bg:#242526;
$gray-bg:#3A3B3C;
$orange-yellow: #FFC122;
$text-white: #FFFFFF;
$text-gray-trans:#474A4D;
$text-gray-soft:#A3A3A3;
$like-pink:#F5177E;
$blue-main:#1B6FA8;
$blue-soft:#4296cf;
$red-manhua-text:#FF7575;
$blue-manhwa-text:#2B59A1;
$main-white:#FAFCFC;