@import '../../../global-styles/Color.scss';

.cardFrame{
    display: flex;
    width: 100%;
    // max-width: 960px;
    min-width: 192px;
    flex-direction: row;
    gap: 8px;   
    pointer-events: auto;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 16px 12px;
    &:hover{
        background-color: $gray-bg;
    }
    .avatar{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: flex-start;
        position: relative;
        align-items: center;
    }
    .nameIdNDes{
        display: flex;
        flex-direction: column;
        width: 100%;

        .nameNFollButt{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .nameAndId{
                font-size: 15px;
                display: flex;
                flex-direction: column;
                min-width: 80px;
                width: auto;
                max-width: 256px;
                justify-content: flex-start;
                .userNameChild{
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                    gap: 20px;
                    flex-direction: row;
                    .level{
                        font-weight: 400;
                        font-style: italic;
                        .bluetext{
                            color: $blue-soft;
                        }
                        .redtext{
                            color: $like-pink;
                        }
                        .yellowtext{
                            color: $orange-yellow;
                        }
                    }
                    .name {
                        justify-content: center;
                        font-weight: 700;
                        display: -webkit-box;
                        width: 100%;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .idName{
                    justify-content: center;
                    font-weight: 400;
                    color: $text-gray-soft-new;
                }
                
            }
            .followedbutton{    
                align-self: flex-end;
                min-width: 94px;
                margin-left: 12px;
        
                .followedButton{
                    border-radius: 25px;
                }
                .textwhite{
                    background-color: transparent;
                    color: $text-white-new;
                    border: 1px solid $text-white;
                }
                .textwhite,.textblack{
                    font-family: 'Lato',sans-serif;
                    text-transform: none;
                    font-weight: 700;
                }
                .textblack{
                    background-color: $text-white;
                    color: $main-bg;
                    border: 1px solid $text-white;
                    &:hover{
                        background-color: #d7dbdc;
                        transition-duration:0.2s;
                    }
                }
            }
        }
        .des{
            padding-top: 4px;
        }
    }
}