@import "../../global-styles/Color.scss";

.profileFrame{
    display: flex;
    width: 100vh;
    height: 100vh;
    color: $text-white-new;
    .main{
        .headernav{    
            align-items: center; 
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            padding: 4px 16px;
            .backbutton{
                background-color: transparent;
                border-radius: 100%;
                outline: none;
                border: none;
                border-color: $main-bg;
                cursor: pointer;
                width: 34px;
                height: 34px;
                align-items: center;
                &:hover{
                    background-color: $main-bg-hover;
                }
                &:active{
                    background-color: $main-bg-hold;
                }
            }
        }
        .headerInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .name{
                font-size: 20px;
                font-weight: 700;
            }
            .postCount{
                font-size: 13px;
                font-weight: 400;
                color: $text-gray-soft-new;
            }
        }
    }
}