@import "../../../../global-styles/Color.scss";

.messageBubbleContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  width: 100%;
  position: relative; // Thêm để dễ định vị thời gian
  &.isMine {
    justify-content: flex-end; // Khi isMine là true, bong bóng chat sẽ nằm bên phải
  }
  &:hover {
    background-color: $text-gray-trans;
  }
  &:hover .hoverContent {
    display: flex;
  }
  &:hover .hoverContentc {
    display: flex;
  }

  .bubbleText {
    max-width: 400px;
    width: fit-content; // Giới hạn độ rộng của bong bóng chat
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    color: $text-white-new;
    justify-content: center;
    border-radius: 20px;
    margin-top: 8px;
    position: relative; // Đặt thời gian vào bong bóng
    word-wrap: break-word; // Cho phép ngắt dòng tự nhiên
    overflow-wrap: break-word; // Ngắt dòng nếu không có khoảng trắng
    white-space: pre-wrap; // Giữ format xuống dòng nhưng không cho tràn
    &.isMine {
      // max-width: 400px;
      // overflow: hidden;
      // line-clamp: 1;
      background-color: $blue-main; // Màu nền cho bong bóng chat của người dùng
      align-self: flex-end;
    }

    &.isTheir {
      background-color: $gray-bg; // Màu nền cho bong bóng chat của người khác
      align-self: flex-start;
    }
  }
  .hoverContentc {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end; // Đảm bảo các phần tử con căn ở dưới cùng
    align-items: flex-start; // Căn các phần tử con theo chiều ngang từ bên trái

    .time {
      align-self: flex-end; // Đặt thời gian vào cuối phần tử cha
      color: $text-gray-soft-new;
      font-size: 14px;
      white-space: nowrap;
      text-align: right; // Đảm bảo thời gian canh phải
    }
  }
  .hoverContent {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .deleteOption {
      justify-self: center;
      align-self: flex-end;

      .icon-button {
        background-color: transparent;
        border: none;
        color: $text-gray-soft-new;
        padding: 0;

        svg {
          fill: $text-gray-soft-new; // Màu mặc định cho icon
          transition: fill 0.3s ease; // Thêm hiệu ứng khi hover
        }

        &:hover svg {
          color: $like-pink; // Màu khi hover
        }
      }
    }

    .time {
      color: $text-gray-soft-new;
      font-size: 14px;
      white-space: nowrap; // Đảm bảo thời gian không bị xuống dòng
      text-align: right;
    }
  }

  .messageImage {
    img {
      border-radius: 18px;
      width: auto;
      height: auto;
      max-width: 256px;
      max-height: 256px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .MuiAvatar-root {
    width: 32px;
    height: 32px;
  }
}
