@import './../../../global-styles/Color.scss';

.discoverFrame{
    color: $text-white-new;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid $gray-bg;
    border-right: 1px solid $gray-bg;
    .headernav{    
        align-items: center; 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        padding: 4px 16px;
        
        .backbutton{
            background-color: transparent;
            border-radius: 100%;
            outline: none;
            border: none;
            border-color: $main-bg;
            cursor: pointer;
            width: 34px;
            height: 34px;
            align-items: center;
            &:hover{
                background-color: $main-bg-hover;
            }
            &:active{
                background-color: $main-bg-hold;
            }
        }
        .headerInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
    .mainContent{
        transition: 0.5s ease;
        .navigationBar{
            border-bottom: 1px solid $gray-bg;

        }
        .loadMore,.noMoreUsers{
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
            font-family: 'Lato',sans-serif;
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            pointer-events: auto;
            background-color: $gray-bg;
            height: 30px;
        }
        .loadMore{
            color: $blue-soft;
            
        }
        .noMoreUsers{
            color:$text-white-new;
            cursor: default;
        }
    }
}

.notFound
{
    color: $text-white-new;
    justify-self: center;
    align-items: center;
    text-align: center;
    a{
        text-decoration: none;
        color: $blue-soft;
    }
}