@import "../../../global-styles/Color.scss";

.headerBar{
    width: 100%;
    height: 56px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 50;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: $main-white;
    padding: 0px 16px 0px 16px;
    
    .logo{
        justify-content: center;
        align-items: center;
    }

    .leftContainer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:20px;
        align-items: center;
        min-width: 380px;
        .searchbar{
            min-width: 252px;
            width: 420px;
            height: 44px;
            border-radius: 25px;
            border: 1px solid $main-bg;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            input{
                font-family: 'Lato', sans-serif;
                border: none;
                outline: none;
                background-color: transparent;
                flex: 1;
            }
            .verticaldotline{
                height: 100%;
                width: 1px;
                border-left: 1px dashed black;
            }
            button{
                
                outline: none;
                border: none;
                cursor: pointer;
                &:hover{
                    background-color: $main-white-hover;
                }
            }
            .filter{
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
            }
            .searchicon{
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;                    
            }
            &:focus-within{
            border: 2px solid $main-bg;
            }
        }

        .auth{
            min-width: 108px;
            height: 100%;
            display: flex;
            align-items: center;
            .userThings{
                display: flex;
                position: relative;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 24px;
                .avatar{
                    flex-shrink: 0;
                    cursor: pointer;                   
                }
                .notificationIcon {
                    // position: relative;
                    cursor: pointer;
                }
                  
                  
            }

            .authButton{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                flex-direction: row;
                Button{
                    &.MuiButton-contained {
                        &.MuiButton-contained {
                          border-radius: 10px;
                          min-width: 54px;
                          width: 108px;
                          height: 44px;
                          font-weight: 700;
                        }
                      }
                }
            }
        }
    }

}