.manga-swiper {
    width: inherit;
    height: fit-content;
    // margin: 20px auto;
    position: relative;
    // overflow-y: auto;

    .swiper-slide-content {
        display: flex;
        justify-content: center;
        /* Center the content horizontally */
        width: 100%;
        /* Ensure each slide takes the full width of its container */
    }

    // overflow: hidden;
}