@import "../../global-styles/Color.scss";

.search-page {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: column; // Ensure the layout is vertical

    .manga-grid-container {
        width: 100%; // Ensure the manga grid container takes full width
    }

    .tag-checkboxes {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        margin-bottom: 20px;
        padding: 10px;
        // background-color: $main-white;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        justify-content: center;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        opacity: 0;

        &.show {
            max-height: fit-content;
            opacity: 1;
        }
    }

    .search-button {
        margin-left: 10px;
        padding: 10px 20px;
        background-color: $blue-main;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $blue-soft-hover;
        }
    }

    .tri-state-checkbox {
        display: flex;
        align-items: center;
        cursor: pointer;

        .checkbox {
            width: fit-content;
            height: fit-content;
            min-width: 100px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 2px;
            padding-right: 5px;
            padding-left: 5px;
            color: $text-white-new;
            background-color: transparent;
            text-align: center;
        }

        &.yes .checkbox {
            border: 1px solid #17bd3b;
            // background-color: #2ec91d;
            color: #17bd3b;
        }

        &.no .checkbox {
            border: 1px solid #fa3e21;
            // background-color: #df371e;
            color: #fa3e21;
        }

        &.unchecked .checkbox {
            border: 1px solid #ccc;
            // background-color: transparent;
            // color: ;
        }
    }

    .error-message {
        color: $text-white-new;
    }

    .searchbar {
        min-width: 252px;
        width: 90%;
        height: 44px;
        border-radius: 25px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $text-white-new;

        input {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            border: none;
            outline: none;
            background-color: transparent;
            color: $text-white-new;
            flex: 1;
        }

        .verticaldotline {
            height: 100%;
            width: 1px;
            border-left: 1px dashed black;
        }

        button {
            outline: none;
            border: none;
            cursor: pointer;
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }

        .filter {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
        }

        .searchicon {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }

        &:focus-within {
            border: 2px solid #ccc;
        }
    }
}