.search-page {
    width: 100%;
    // background-color: $main-white;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: auto;
    display: flex;
}